<!doctype html>
<html lang="{{ get_locale() }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ _('RBFA Calendar Generator') }}</title>
        <!-- Shared CSS files or meta tags -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="icon"
            href="{{ url_for('static', filename='img/favicon.ico') }}"
        />
    </head>
    <body>
        <!-- Navbar or any common header -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img
                        src="/static/img/logo.png"
                        alt=""
                        width="60"
                        height="60"
                        class="d-inline-block align-text-center me-2"
                    />
                    {{ _('RBFA Calendar Generator') }}
                </a>
                <div class="d-flex">
                    <div class="me-3">
                        <a
                            class="btn btn-primary"
                            href="{{ url_for('calendars.calendars') }}"
                        >
                            Saved calendars
                        </a>
                    </div>
                    <div class="dropdown">
                        <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="langSelector"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            {{ get_locale() | upper }}
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{{ url_for('main.change_language', lang_code='en', next=request.path) }}"
                                >
                                    EN
                                </a>
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{{ url_for('main.change_language', lang_code='nl', next=request.path) }}"
                                >
                                    NL
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Main content, to be filled by child templates -->
        <div class="container mt-5">
            {% block content %}
            <!-- Default content (can be replaced by child templates) -->
            {% endblock %}
        </div>

        <!-- Shared JS files -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='js/clipboard.js') }}"></script>
        {% block script %}
        <!-- Additional content that can be overridden -->
        {% endblock %}
    </body>
</html>
