{% extends "base.html" %} {% block content %}
<div class="responsive_width">
    <h1>Saved calendars</h1>

    {% if teams %}
    <table class="table table-sm mt-4">
        <thead class="table-light">
            <tr>
                <th>Club</th>
                <th>Team</th>
                <th class="text-end">Calendar</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td style="vertical-align: middle">
                    <span>{{ team.club }}</span>
                </td>
                <td style="vertical-align: middle">
                    <span>{{ team.name }}</span>
                </td>
                <td style="vertical-align: middle" class="text-end">
                    <span id="calendar-link-{{ team.id }}">
                        {{ url_for( 'calendars.serve_ical', filename=team.id ~
                        '.ics', _external=True ) }}
                    </span>
                    <button
                        type="button"
                        class="ms-3 btn btn-sm btn-primary"
                        onclick="copyToClipboard('calendar-link-{{ team.id }}', this)"
                        title="{{ _('Copy calendar link') }}"
                    >
                        <i class="bi bi-clipboard"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>No calendars have been saved yet.</p>
    {% endif %}

    <a class="btn btn-secondary" href="{{ url_for('main.index') }}">
        Back to search
    </a>
</div>

{% endblock %}
