{% extends "base.html" %} {% block content %}

<section class="how-it-works">
<div class="container">
    <div class="text-center py-5">

        <h1>Something went wrong</h1>

        <p class="lead">
            We are currently experiencing a problem while retrieving
            information from RBFA.
        </p>

        <p>
            We are aware of the issue and are working to fix it
            as soon as possible.
        </p>

        <a href="/" class="btn btn-primary mt-3">
            Back to homepage
        </a>

    </div>
</div>
</section>

{% endblock %}